.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  animation: fadeIn 0.1s;
}
.food-item-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
  transition: 0.3s;
}
.food-item-image:hover {
  transform: scale(1.1);
}
.food-item-info {
  padding: 20px;
}
.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-name-rating p {
  font-weight: 500;
  font-size: 20px;
}
.food-item-name-rating img {
  width: 70px;
  margin-left: 10px;
}
.food-item-discription {
  color: rgb(97, 97, 97);
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.food-item-price {
  color: tomato;
  font-weight: 500;
  font-size: 25px;
  margin: 10px 0;
}
.food-item-image-container {
  position: relative;
}
.food-item-image-container .add {
  position: absolute;
  bottom: 15px;
  width: 30px;
  right: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 4px;
 background-color: white;
}
.food-item-counter {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: 15px;
  right: 15px;
  background-color: white;
  padding: 3px 5px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
